$primary-black: #1C1433;
$primary-white: #FFFFFF;
$primary-grey: #C4C4C4;
$secondary-grey: #D6D9DE;
$tertiary-grey: #A8AEB9;
$primary-peach: #FFEADB;
$primary-light-green: #EBFFEB;
$secondary-light-green: #EFFCEF;
$primary-green: #80DA86;
$primary-red: #EE4F3E;
$primary-light-blue: #79C2DA;
$secondary-light-blue: #DFF8FF;