<header>
  <div class="header d-flex center container py-5">
    <h3 class="header__title mb-3">Гаманці ручної роботи</h3>
    <p class="header__subtitle">
      Гаманці виготовлені з натуральної шкіри та за спеціальними лекалами
    </p>
    <img src="../assets/img/big.png" alt="slider">
  </div>
</header>

<section class="slick mt-3 mb-5">
  <div class="price container flex-row">
    <div class="w-50">
      <small>Стара ціна</small>
      <p class="price-old">234 грн</p>
    </div>
    <div class="w-50">
      <small>Нова ціна</small>
      <p class="price-new">144 грн</p>
    </div>
  </div>
  <button class="btn button">Замовити</button>
</section>

<section class="about d-flex center container">
  <h3 class="about__title">Про продукт</h3>
  <div class="about__block">
    <p class="subscr">
      Гаманці виготовлені з натуральної шкіри та за спеціальними лекалами, стильно виглядаю, та займають не багато місця
      в
      вашій кишені.
    </p>
    <img src="../assets/img/benefit1.png" alt="#">
  </div>
  <div class="about__block">
    <p class="subscr">
      Гаманці виготовлені з натуральної шкіри та за спеціальними лекалами, стильно виглядаю, та займають не багато місця
      в
      вашій кишені.
    </p>
    <img src="../assets/img/benefit2.png" alt="#">
  </div>
</section>

<section class="benefits">
  <h3 class="benefits__title">Переваги</h3>
  <button class="btn button">Замовити за 144грн</button>
</section>

<section class="reviews">
  <h3 class="reviews__title">
    Відгуки покупців
  </h3>
</section>

<section class="how-to-buy m-3 py-2">
  <div class="container">
    <h3 class="how-to-buy__title py-3">Як купити</h3>
    <ol class="list mx-3">
      <li>
        Залиште заявку на сайті
      </li>
      <li>
        Наш менеджер уточнить деталі замовлення </li>
      <li>
        Служба доставки доставляє ваш товар
      </li>
      <li>
        Оплачуйте при отриманні товару
      </li>
    </ol>
  </div>
</section>

<section class="order mb-4">
  <div class="container m-auto">
    <h3 class="order__title px-5">
      Оформлення замовлення
    </h3>
    <form class="mb-3">
      <input type="text" name="name" id="name" placeholder="Введіть Ваше ім'я">
      <input type="tel" name="tel" id="tel" placeholder="Введіть Ваш номер телефону">
      <input type="email" name="email" id="email" placeholder="Введіть Ваш email">
    </form>
    <button class="btn button">Замовити за 144грн</button>
  </div>
</section>

<section class="mb-4">
  <h3>
    Способи доставки
  </h3>
</section>

<footer>
  <p>
    Наша електронна адреса
  </p>
  <a href="#">
    alma.lawson@example.com
  </a>
  <p>© 2021-2022 . ВСІ ПРАВА ЗАХИЩЕНІ</p>
</footer>